@model IEnumerable<Project.Band>

@{
    ViewBag.Title = "Home";
}
<div id="Homeimage"><img src="~/Images/homepage.jpg"/></div>
@foreach (var item in Model) {
    <div class="displaycont">
            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            <img id="BandFoto" src="@Url.Action("GetFoto", "Home", new {id = item.ID}, null)" alt="@item.Name" />
            <p>
            @Html.DisplayFor(modelItem => item.Description)
            </p>
            <div class="clear">&nbsp;</div>
    </div>


}
