body {
    background-color:#2a2a2a;
}
h2 {
    font-size:30px;
}
/*Titel*/
.Titel a{
    font-size:42px;
    color:#FF8400;
    text-decoration:none;
    font-weight:800;
}
/*EndTitel*/
/*loginknoppen*/
#loginknoppen ul li{
    background-color:#808080;
    list-style:none;
    padding:5px;
    float:right;
    margin-bottom:10px;
    margin-right:5px;
}
#loginknoppen ul li a{
    text-decoration:none;
    color:#FFFFFF;
}
#loginknoppen ul li a:hover{
    text-decoration:none;
    color:#000000;
}
#logouttext {
    float:right;
    color:#FFFFFF;
}
#logouttext a{
    color:#FFFFFF;
    background-color:#808080;
    padding:5px;
    text-decoration:none;
}
#logouttext a:hover{
    text-decoration:none;
    color:#000000;
}
/*Endloginknoppen*/
/* Displaybands*/
div.displaycont {
    background-color:#FF8400;
    color:#FFFFFF;
    padding:20px;
    margin-bottom:20px;
    border:1px solid #ff6a00;
    border-radius:15px;
    width:400px;
    margin-right:19px;
    margin-left:19px;
    float:left;
}
div.displaycont h3{
    color:#FFFFFF;
    font-size:24px;
    font-weight:bold;
    margin-top:-10px;
    text-decoration:underline;
}
div.displaycont p{
    font-size:14px;
    color:#000000;
    padding:10px;
    float:left;
    margin-left:10px;
    width:200px;
    height:130px;
    display:block;
    margin-top:0px;
}
div.displaycont img{
    margin-top:10px;
    width:150px;
    height:150px;
    float:left;
}
/*End Display*/
.clear {
    clear:both;
}
/*Menu*/
ul#mainmenu {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
    float:left;
}
ul#mainmenu li 
{
    display: inline;
    list-style: none;
    padding-left: 15px;
}
ul#mainmenu li a 
{
    background: none;
    color: #FFFFFF;
    text-decoration: none;
}
ul#mainmenu li a:hover 
{
    color: #000000;
    text-decoration: none;
}
/*EndMenu*/
/*DagCont*/
div.dagcont 
{
    display:block;
    width:960px;
    margin-top:20px;
    padding-top:20px;
    padding-left:20px;
}
div.dagcont a
{
    display:block;
    height:50px;
    background-color:#2a2a2a;
    width:100px;
    font-size:18px;
    color:#FFFFFF;
    overflow:hidden;
    padding:10px;
    line-height:50px;
    margin-bottom:10px;
    margin-right:15px;
    text-decoration:none;
    font-weight:bold;
    float:left;
    border-radius:15px;
}
div.dagcont a:hover {
    color:#000000;
    background:#FFFFFF;
}
/*EndDagCont*/
/*Stageheader*/
.stageheaders {
    font-size:30px;
}
/*EndStageHeader*/
/*lineuptabel*/
.lineupcont {
    float:left;
    width:460px;
    margin-right:30px;
    margin-right:10px;
}
.lineuptabel {
    border-collapse:collapse;
    width:460px;
}
.lineuptabel th{
    font-size:24px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#FF8400;
    text-align:center;
    padding-left:20px;
    padding-right:20px;
    border:1px solid #000000;
}
.lineuptabel td{
    font-size:20px;
    font-weight:bold;
    border:1px solid #000000;
    text-align:center;
}
/*EndLineuptabel*/
/*BandDetail*/
.banddetailcont h2{
    color:#FF8400;
    font-size:34px;
    font-weight:bold;
    margin-bottom:20px;
}
.banddetailcont  p{
    width:400px;
    font-size:18px;
    font-weight:bold;
}
.banddetailcont  div{
    float:left;
    margin-left:30px;

}
.banddetailcont img {
    float:left;
    width:400px;
    height:300px;
}
.banddetailcont a{
    color:#FF8400;
    font-size:16px;
    text-decoration:none;
    font-weight:bold;
}
.banddetailcont a:hover{

    text-decoration:underline;
}
/*EndBandDetail*/
/*backlink*/
.backLink {
    font-size:24px;
}
/*EndBackLink*/
/*errorMessage*/
.errormsg {
    color:red;
    font-size:18px;
}
/*EndErrorMessage*/
/*ticketoverzicht*/
.ticketoverzicht {
    border-collapse:collapse;
    border:1px solid #000000;
    width:960px;
}
.ticketoverzicht th{
    background-color:#FF8400;
    text-align:center;
    border:1px solid #000000;
}
.ticketoverzicht td{
    background-color:#ffffff;
    text-align:center;
    border-bottom:1px solid #000000;
}
/*Endticketoverzicht*/
/*Homeimg*/
#Homeimage {
    width: 960px;
    border:1px solid #FF8400;
    background-color:#FFFFFF;
    margin-bottom:20px;
}
#Homeimage img{
    width:920px;
    margin:20px;
    border:1px solid #FF8400;
}
/*EndHomeImg*/
/*LoginCont*/
#logincont {
    margin-left:auto;
    margin-right:auto;
    width:410px;
    border:1px solid #FF8400;
    background-color:#FFFFFF;
    border-radius:15px;
    padding-left:70px;
    padding-top:10px;
    padding-bottom:10px;
}
/*EndLoginCont*/
/*RegisterCont*/
#RegisterCont {
    margin-left:auto;
    margin-right:auto;
    width:410px;
    border:1px solid #FF8400;
    background-color:#FFFFFF;
    border-radius:15px;
    padding-left:70px;
    padding-top:10px;
    padding-bottom:10px;
}
#RegisterCont h2{
    font-size:24px;
}
/*EndRegisterCont*/
/*Footer*/
.contentwrapper {
     margin: 0 auto;
    max-width: 960px;
}
.contentwrapper div{
    background-color:#2a2a2a;
    color:#FFFFFF;
}
.contentfooter {
    background-color:#2a2a2a;
    clear:both;
    position:fixed;
    bottom:0;
    width:100%;
}
/*FooterEnd*/
@media only screen and (max-width:600px) {
    #Homeimage img {
        width: 460px;
    }
    #Homeimage {
    width: 500px;
}
}
@media only screen and (max-width:400px) {
        #Homeimage {
            width:300px;
        }
    #Homeimage img {
        width: 260px;
    }
}